.page-layout {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;

}

.marley-and-me {
    align-self: center;
    margin-left: 40px;
    max-width: 650px;
    height: fit-content;
    
}

.about-text {
    width: 90%;
    max-width: 600px;
    font-weight: lighter;
    color: #382C1A;
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 40px;
    height: fit-content;
}

@media only screen and (max-width: 600px) {

    .page-layout {
        display: grid;

    }

    .about-text {
        max-width: 90vw;
    }

    .marley-and-me {
        width: 90vw;
        height: 60vw;
        margin-left: 2vw;
    }
}