.welcome {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    align-items: center;

}

.my-face {
    align-self: flex-end;
    width: 450px;
    height: 600px;
    
}

.text-box {
    align-self: flex-start;
    margin-top: 280px;
    margin-right: 16px;
    width: fit-content;
}

.text-styl {
    width: 800px;
    max-width: 90vw;
    font-weight: lighter;
    color: #382C1A;
    text-align: center;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .welcome {
      display: grid;
    }

    .my-face {
        width: 90vw;
        height: 110vw;
        margin:5vw;
    }

    .text-box {
        margin-top: 30px;
        width: 90vw;
        
    }

    .text-styl {
        margin: 5vw;
    }

}