.project-layout {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;

}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 160px;
}

.projects-text {
    width: 800px;
    max-width: 90vw;
    font-weight: lighter;
    color: #382C1A;
    text-align: center;
    margin-bottom: 40px;
    height: fit-content;
}

.flip-front {
    width: 400px;
    max-width: 90vw;
    height: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #999;
    background: #84B57E;
    transition: background 250ms;
}

.flip-front:hover {
    background: #636341;
}

.flip-back {
    width: 400px;
    max-width: 90vw;
    height: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #999;
    background: #f2f3f4;
    transition: background 250ms;
}

.flip-back:hover {
    background: #d3d3d3;
}

.flip-text {
    width: 400px;
    font-weight: lighter;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    height: fit-content;
}

.flip-back-text {
    margin-left: 10px;
    width: 350px;
    font-weight: lighter;
    color: #382C1A;
    text-align: left;
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .project-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

}