.skills-page-layout {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    align-items: center;
}

.skills-text-layout {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;

}

.skills-text {
    width: 1000px;
    font-weight: lighter;
    color: #382C1A;
    text-align: left;
    height: fit-content;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    margin-right: 44%;
}

.icon {
    height: 150; 
    width: 150;
}

.icon:hover {
    color: blue;
}

#skill-item {
    display:grid;
    width: 200px;
    height: fit-content;
    justify-items: center;
}

#skill-item .item-text {
    width: 1000px;
    font-weight: lighter;
    color: #382C1A;
    text-align: center;
    height: fit-content;
    visibility: hidden;
    transition: visibility 150ms;
}

#skill-item:hover .item-text {
    visibility: visible;
}
