.skills-page-layout {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
    align-items: center;
}

.skills-text-layout {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;

}

.skills-text {
    width: 1000px;
    font-weight: lighter;
    color: #382C1A;
    text-align: left;
    height: fit-content;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
    
}

#skill-item {
    display:grid; 
    width: 300px;
    margin-bottom: 40px;
    height: fit-content;
    justify-items: center;
}

#skill-item .item-text {
    width: 300px;
    font-weight: lighter;
    color: #382C1A;
    text-align: center;
    height: fit-content;
    visibility: visible;
    transition: visibility 150ms;
}

#skill-item:hover .item-text {
    visibility: visible;
}

.icon {
    color: #000;
    transition: color 150ms; 
}

.icon:hover {
    color: #84B57E
}

@media only screen and (max-width: 600px) {
    .skill-grid {
        grid-template-columns: repeat(1, auto);
    }
}